.bookDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.bookDetailsInput {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.bookDetailsButtons {
    display: flex;
    column-gap: 7px;
}