.bookList {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    row-gap: 15px;
}

.bookListItem {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 95%;
    padding: 5px;
}

.bookListItemSelected {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 95%;
    padding: 5px;
    border: 1px solid white;
}

.bookListItem:hover {
    border: 1px solid white;
    cursor: pointer;
}

.bookListItem>p,
.bookListItemSelected>p {
    margin: 0;
}